#section-welcome{
    background-color: $dark-gray;
    color: $light-gray;

    #subtitle{
        margin-bottom: 56px;
    }

    #call-to-action{
        margin-bottom: 56px;
    }

    padding: 106px 140px 50px 140px; // Desktop

    @media screen and (max-width: $break-xs) {
        padding: 72px 20px 56px 20px; // phone
    }

    @media screen and (max-width: $break-md) and (min-width: $break-xs){
        padding: 136px 80px 80px 80px; // tablet
    }
}

#section-tips-list{
    padding: 160px 140px 104px 140px; // Desktop

    @media screen and (max-width: $break-xs) {
        padding: 56px 20px 0px 20px; // phone
    }

    @media screen and (max-width: $break-md) and (min-width: $break-xs){
        padding: 80px 80px 24px 80px; // tablet
    }

    background-color: $blue;

    .reason-tips-item{
        color: white;
        text-align: center;
        margin-bottom: 56px;

        display: flex;
        flex-direction: column;

        .tip-icon{
            font-size: 80px;
            margin-bottom: 16px;
        }

        .tip-label{
            font-size: 32px;
            font-weight: 400;
        }
    }
}

#section-tip-right{
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tip-image{
        width: 50%;
        height: auto;
        margin-right: 100px;
    }

    .tip-info{
        text-align: right;
        width: 50%;

        h3{
            color: $blue;
        }
    
        p{
            color: $dark-gray;
            font-size: 28px;
            font-weight: 400;
        }
    }

    padding: 150px 140px 150px 140px; // Desktop

    @media screen and (max-width: $break-xs) { // phone
        padding: 56px 20px 56px 20px; 
        flex-direction: column;

        .tip-image, .tip-info{
            width: 100%;
        }

        .tip-image{
            margin: 0 0 36px 0;
        }
    }

    @media screen and (max-width: $break-md) and (min-width: $break-xs){
        padding: 80px 80px 80px 80px; // tablet
    }
}

#section-tip-left{
    background-color: $light-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tip-image{
        width: 50%;
        height: auto;
        margin-left: 100px;
    }

    .tip-info{
        text-align: left;
        width: 50%;

        h3{
            color: $blue;
        }
    
        p{
            color: $dark-gray;
            font-size: 28px;
            font-weight: 400;
        }
    }

    padding: 150px 140px 150px 140px; // Desktop

    @media screen and (max-width: $break-xs) { // phone
        padding: 56px 20px 56px 20px; 
        flex-direction: column-reverse;

        .tip-image, .tip-info{
            width: 100%;
        }

        .tip-image{
            margin: 0 0 36px 0;
        }
    }

    @media screen and (max-width: $break-md) and (min-width: $break-xs){
        padding: 80px 80px 80px 80px; // tablet
    }
}

#section-we-can-help{
    background-color: $dark-gray;
    display: flex;
    flex-direction: column;

    text-align: center;

    h3{
        color: $blue;
    }

    p{
        color: $light-gray;
        font-size: 28px;
        font-weight: 400;
    }

    #call-to-action{
        color: white;
        margin-top: 56px;
    }

    padding: 150px 140px 150px 140px; // Desktop

    @media screen and (max-width: $break-xs) { // phone
        padding: 56px 20px 56px 20px; 
    }

    @media screen and (max-width: $break-md) and (min-width: $break-xs){
        padding: 80px 80px 80px 80px; // tablet
    }
}